{% extends 'portfolio/base.html' %}

{%  block content %}

<h1>Rakib's Portfolio</h1>
{% load static %}

<a href="{% url 'blog:all_blogs' %}">My Blogs |</a>
<a href="{% static 'portfolio/My Resume.pdf' %}"> Resume</a><br><br>
<img src="{% static 'portfolio/dp.jpg' %}" height="400" width="400"><br>

{% for i in project %}

    <h2>{{ i.title }}</h2>
    <p>{{ i.description }}</p>
    <img src="{{ i.image.url }}"><br>
    {% if i.url %}
    <a href="{{ i.url }}">Link to Project</a>
    {% endif %}


{% endfor %}

{% endblock %}